.sidenote-highlight {
  background-color: rgba(255, 0, 0);  
  position: relative;
}

.hoverDiv{  
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 125px;
  top: 0;
  left: 50%;
  scale: 0;
  z-index: 199;
  border-radius: 4px;
  transform: translate(-50%, -100%);
  transform-origin: center;
  background-color: rgba(255,255,255, 0.8);  
  transition: scale 250ms cubic-bezier(0.86, 0, 0.07, 1);
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
}


.sidenote-highlight:not(.deleted, .color-picker--open):hover .hoverDiv {
  scale: 1;  
}

.sidenote-highlight.deleted {
  background: inherit !important;
}


.hoverDiv i {
  cursor: pointer;
}

.sidenotes__color-selector {
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  justify-content: space-around;
  column-gap: 8px;
  padding: 12px 8px;
  border-radius: 4px;
  background-color: rgba(255,255,255, 0.8);
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.2);
  
}

.color-selector__color {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  
}
